astroid==2.3.3
autopep8==1.5
croniter==0.3.31
entrypoints==0.3
epc==0.0.5
flake8==3.7.9
gunicorn==19.8.0
importlib-metadata==1.5.0
importmagic==0.1.7
isort==4.3.21
jedi==0.15.2
Jinja2==2.11.3
jivago==0.5.5
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.6.2
pluggy==0.13.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylint==2.4.4
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
PyYAML==5.3.1
rope==0.16.0
sexpdata==0.0.3
six==1.14.0
snowballstemmer==2.0.0
typed-ast==1.4.1
ujson==1.35
Werkzeug==1.0.0
wrapt==1.11.2
yapf==0.29.0
zipp==3.1.0
